<div class="container">
  <h1>Latest Articles</h1>
  <% @article.each do  |article| %>
   <h2 class="text text-danger text-center"> <%= article.title %></h2>
    <p class="text-info border text-center " >
      <%= article.body %>
    </p>
    <%= link_to 'Detail View', article_path(article), class: 'link ml-5 text-center'%>

  <%end %>
  <p>
    <%= link_to 'Create article', new_article_path %>
  </p>
</div>